<h3>Login</h3>
<p>
  <label for="login_email">Email:</label> <input name="login_email" id="login_email" />
</p>
<p>
  </label for="login_password">Password:</label> <input type="password" name="login_password" id="login_password" />
</p>

<button id="login_button" class="login">Login</button>
<button id="create_user_button" class="login">New User</button>